.comment {
    font-size: 1.8rem;
}

.comment-author {
    color: var(--orange);
    margin: 1rem;
}

.comment-body {
    color: white;
    margin: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--orange);
}

@media only screen and (max-width: 520px) {
    .comment {
        font-size: 1.2rem;
    }
}