.comment {
    font-size: 1.8rem;
}

.comment a {
    color: var(--blue);
}

.comment-author, .reply-author {
    color: var(--orange);
    margin: 1rem;
}

.comment-body, .reply-body {
    color: white;
    margin: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--orange);
}

.reply-author {
    margin: 1rem 3rem;
}

.reply-body {
    margin: 1rem 3rem;
}

@media only screen and (max-width: 520px) {
    .comment {
        font-size: 1.2rem;
    }
}