header {
    height: 7vh;
    background-color: black;
    border-bottom: 0.1rem solid #EEE;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-content: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

header::before {
    position: absolute;
    content: '';
    width: 0;
    height: 7vh;
    background: linear-gradient(to right, var(--blue), #000, var(--blue));
    background-size: 200%;
    animation: hoverOnLogo 1.5s infinite linear;
    z-index: -1;
}

@keyframes hoverOnLogo {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 200% 0%;
    }
}

header:hover::before {
    width: 100%;
}

#logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-h1 {
    font-size: 2.4rem;
    color: white;
}

#header-span {
    color: #E76100;
}

#reddit-icon {
    font-size: 3rem;
    margin-left: 3.5%;
    color: #E76100;
}

#search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar {
    width: 90%;
    height: 90%;
    border-radius: 5px;
    padding-left: 1rem;
    box-shadow: none;
    border: none;
    outline: 0.2rem solid var(--blue);
}

#search-bar:focus {
    outline: 0.2rem dashed var(--orange);
    outline-offset: 0.3rem;
}

#search-button, #subreddit-menu-button {
    margin-left: 2rem;
    width: 7%;
    font-size: 2.4rem;
    color: white;
    background-color: transparent;
    border: none;
}

#subreddit-menu-button {
    display: none;
}

@media only screen and (max-width: 1200px) {
    #header-h1 {
        font-size: 2rem;
    }

    header {
        grid-template-columns: 2fr 2fr 0.5fr;
    }
}

@media only screen and (max-width: 630px) {
    header {
        grid-template-columns: 1fr 2fr 0.1fr;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

    #subreddit-menu-button {
        display: block;
    }
}

@media only screen and (max-width: 605px) {
    #header-h1 {
        width: 65%;
        text-align: center;
    }
    
    #search-bar {
        height: 50%;
    }
}

@media only screen and (max-width: 425px) {
    #header-h1 {
        font-size: 1.4rem;
    }

    #reddit-icon {
        font-size: 2rem;
        margin-left: 0.8rem;
    }
}
