header {
    background-color: black;
    padding: 2rem;
    border-bottom: 0.1rem solid #EEE;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-content: center;
}

#logo-container {
    display: flex;
    align-items: center;
}

#header-h1 {
    font-size: 2.4rem;
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#header-h1::before {
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    background: linear-gradient(to right, var(--blue), #000, var(--blue));
    background-size: 200%;
    animation: hoverOnLogo 1.5s infinite linear;
    z-index: -1;
}

@keyframes hoverOnLogo {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 200% 0%;
    }
}

#header-h1:hover::before {
    width: 100%;
}

#header-span {
    color: #E76100;
}

#reddit-icon {
    font-size: 3rem;
    margin-left: 1.6rem;
    color: #E76100;
}

#search-form {
    display: flex;
}

#search-bar {
    width: 90%;
    height: 90%;
    border-radius: 5px;
    padding-left: 1rem;
}

#search-button {
    margin-left: 1rem;
    width: 7%;
    font-size: 3rem;
    color: white;
    background-color: transparent;
    border: none;
}