#subreddits {
    background-color: #2b2b2b;
    color: white;
    height: 90vh;
    border-radius: 1%;
}

#subreddits-list-item {
    list-style: none;
    font-size: 2rem;
    margin: 2rem 0 2rem 2rem;
    display: flex;
    align-items: center;
}

#subreddits-h3 {
    font-size: 3rem;
    margin: 0 0 2rem 2rem;
    padding-top: 1rem;
}

#subreddits-img {
    border-radius: 50%;
    border: 0.4rem solid white;
    width: 8%;
    margin-right: 2rem;
}