:root {
  --blue: #008CE2;
  --orange: #E76100 
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 62.5%;
  background-color: black;
  box-sizing: border-box;
}

main {
  width: 75%;
  display: inline-block;
  margin-left: 1.6%;;
}

aside {
  width: 20%;
  float: right;
  margin-right: 1.6%;
  margin-top: 0.8%;
}