#post {
    background-color: #2b2b2b;
    padding: 0.4rem;
    margin: 1.2rem auto;
}

#post-h2 {
    font-size: 2.4rem;
    color: #008CE2;
    text-align: center;
}

#post-p {
    font-size: 1.6rem;
    color: #FFF;
}